@import "tailwindcss";

@import "./abstracts/variables.css";

@import "./base/reset.css";
@import "./base/base.css";
@import "./base/typography.css";

/* @import "./base/debug.css"; */

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hover-underline {
  position: relative;
}

.hover-underline::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -28px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  opacity: 0;
}

.hover-underline:is(:hover, :active, :focus-visible)::after {
  background-color: var(--clr-aluminium);
  opacity: 1;
}

.hover-underline.is-active::after {
  background-color: var(--clr-white);
  opacity: 1;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: var(--clr-stroke);
  color: var(--clr-stroke);
}

.color-blue-300 {
  color: var(--clr-blue-300);
}

.mask-bottom-fade {
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}
