.text-preset-1 {
  font-family: var(--ff-bellefair);
  font-weight: var(--fw-normal);
  font-size: 9rem; /* 144px */
  line-height: normal;
  letter-spacing: 0rem;
}

.text-preset-2 {
  font-family: var(--ff-bellefair);
  font-weight: var(--fw-normal);
  font-size: 6.25rem; /* 100px */
  line-height: 7.1625rem; /* 114.6% of 100px */
  letter-spacing: 0rem;
}

.text-preset-3 {
  font-family: var(--ff-bellefair);
  font-weight: var(--fw-normal);
  font-size: 3.5rem; /* 56px */
  line-height: normal;
  letter-spacing: 0rem;
}

.text-preset-4 {
  font-family: var(--ff-bellefair);
  font-weight: var(--fw-normal);
  font-size: 2rem; /* 32px */
  line-height: normal;
  letter-spacing: 0rem;
}

.text-preset-5 {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-normal);
  font-size: 1.75rem; /* 28px */
  line-height: normal;
  letter-spacing: 0.25rem; /* 4px */
}

.text-preset-6 {
  font-family: var(--ff-bellefair);
  font-weight: var(--fw-normal);
  font-size: 1.75rem; /* 28px */
  line-height: normal;
  letter-spacing: 0rem;
}

.text-preset-7 {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-normal);
  font-size: 0.875rem; /* 14px */
  line-height: 1;
  letter-spacing: 0.125rem; /* 2px */
}

.text-preset-8 {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-normal);
  font-size: 1rem; /* 16px */
  line-height: normal;
  letter-spacing: 0.125rem; /* 2px */
}

.text-preset-9 {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-normal);
  font-size: 1.125rem; /* 18px */
  line-height: 1.8;
  letter-spacing: 0rem;
}

@media screen and (max-width: 50em) {
  .text-preset-2 {
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 1.2;
  }

  .text-preset-3 {
    font-size: 2.5rem;
  }

  .text-preset-4 {
    font-size: 1.5rem;
  }

  .text-preset-5 {
    font-size: 1.25rem;
    letter-spacing: 20%;
  }

  .text-preset-9 {
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 31.25em) {
  .text-preset-1 {
    font-size: 5rem; /* 80px */
    line-height: normal;
  }

  .text-preset-2 {
    font-size: 5rem;
    letter-spacing: 0;
    line-height: 1.2;
  }

  .text-preset-3 {
    font-size: 1.5rem;
  }

  .text-preset-4 {
    font-size: 1.125rem;
  }

  .text-preset-5 {
    font-size: 1rem; /* 16px */
  }

  .text-preset-9 {
    font-size: 0.9375rem;
    line-height: 1.8;
    letter-spacing: 1.2px;
  }
}
