---
import BaseLayout from "../layouts/BaseLayout.astro";

import Container from "../components/Container.astro";
---

<BaseLayout title="Main Page" urlActive="/">
  <Container>
    <h1>Hello world!</h1>
  </Container>
</BaseLayout>
