---
import BaseLayout from "../layouts/BaseLayout.astro";

import Container from "../components/Container.astro";
---

<BaseLayout title="Main Page" urlActive="/">
  <Container className="pt-[100px]">
    <div
      class="hero flex gap-12 items-center mx-auto"
      aria-labelledby="hero-title"
      role="region"
    >
      <div class="hero__header flex flex-col items-center gap-6 md:gap-5">
        <h1 id="hero-subtitle" class="hero__subtitle text-preset-5">
          So, you want to travel to
        </h1>
        <h2 id="hero-title" class="hero__title text-preset-1">Space</h2>
        <p class="hero__description text-preset-9 text-center">
          Let’s face it; if you want to go to space, you might as well genuinely
          go to outer space and not hover kind of on the edge of it. Well sit
          back, and relax because we’ll give you a truly out of this world
          experience!
        </p>
      </div>
      <div class="hero__explore--wrapper flex flex-col justify-center">
        <a
          href="/destination"
          class="hero__explore text-preset-4"
          role="button"
          tabindex="0"
          aria-label="Explore space destinations"
        >
          Explore
        </a>
      </div>
    </div>
  </Container>
</BaseLayout>

<style>
  body {
    background-image: url("./assets/home/background-home-mobile.jpg");
  }

  .hero {
    flex-direction: column;
  }

  .hero__explore--wrapper {
    align-items: center;
    min-height: 382px;
    width: 100%;
  }

  .hero__explore {
    width: 144px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-blue-900);
    border-radius: 50%;
    background-color: var(--clr-white);
    text-transform: uppercase;
  }

  .hero__explore:is(:hover, :active, :focus-visible) {
    box-shadow: 0 0 0 72px var(--clr-infinity);
  }

  .hero__explore:focus-visible {
    outline: 2px solid var(--clr-infinity);
    outline-offset: 4px;
  }

  .hero__subtitle,
  .hero__title {
    text-transform: uppercase;
  }

  .hero__subtitle,
  .hero__description {
    color: var(--clr-blue-300);
  }

  @media screen and (min-width: 48em) {
    body {
      background-image: url("./assets/home/background-home-tablet.jpg");
    }

    .hero {
      margin-top: 110px;
    }

    .hero__explore {
      width: 272px;
    }
  }

  @media screen and (min-width: 90em) {
    body {
      background-image: url("./assets/home/background-home-desktop.jpg");
    }

    .hero {
      flex-direction: row;
      max-width: 1100px;
      margin-top: 210px;
    }

    .hero__header {
      align-items: flex-start;
      flex: 0 0 544px;
    }
    .hero__header > * {
      text-align: left;
    }

    .hero__explore {
      width: 272px;
    }

    .hero__explore:is(:hover, :active, :focus-visible) {
      box-shadow: 0 0 0 84px var(--clr-infinity);
    }

    .hero__explore--wrapper {
      align-items: flex-end;
    }
  }
</style>
